{"swagger":"2.0","info":{"description":"DeepHealthAPI API documentation","version":"1.3.0","title":"DeepHealthAPI API","contact":{},"license":{}},"host":"deephealth.treelogic.com","basePath":"/","tags":[{"name":"account-resource","description":"Account Resource"},{"name":"api-api-controller","description":"the api API"},{"name":"cluster-resource","description":"Cluster Resource"},{"name":"user-jwt-controller","description":"User JWT Controller"},{"name":"user-resource","description":"User Resource"}],"paths":{"/api/account":{"get":{"tags":["account-resource"],"summary":"getAccount","operationId":"getAccountUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["account-resource"],"summary":"saveAccount","operationId":"saveAccountUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userDTO","description":"userDTO","required":true,"schema":{"$ref":"#/definitions/UserDTO"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/account/change-password":{"post":{"tags":["account-resource"],"summary":"changePassword","operationId":"changePasswordUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"passwordChangeDto","description":"passwordChangeDto","required":true,"schema":{"$ref":"#/definitions/PasswordChangeDTO"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/account/reset-password/finish":{"post":{"tags":["account-resource"],"summary":"finishPasswordReset","operationId":"finishPasswordResetUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"keyAndPassword","description":"keyAndPassword","required":true,"schema":{"$ref":"#/definitions/KeyAndPasswordVM"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/account/reset-password/init":{"post":{"tags":["account-resource"],"summary":"requestPasswordReset","operationId":"requestPasswordResetUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"mail","description":"mail","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/activate":{"get":{"tags":["account-resource"],"summary":"activateAccount","operationId":"activateAccountUsingGET","produces":["*/*"],"parameters":[{"name":"key","in":"query","description":"key","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/authenticate":{"get":{"tags":["account-resource"],"summary":"isAuthenticated","operationId":"isAuthenticatedUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["user-jwt-controller"],"summary":"authorize","operationId":"authorizeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"loginVM","description":"loginVM","required":true,"schema":{"$ref":"#/definitions/LoginVM"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/JWTToken"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/clusters":{"get":{"tags":["cluster-resource"],"summary":"getAllClusters","operationId":"getAllClustersUsingGET","produces":["*/*"],"parameters":[{"name":"code.contains","in":"query","required":false,"type":"string"},{"name":"code.doesNotContain","in":"query","required":false,"type":"string"},{"name":"code.equals","in":"query","required":false,"type":"string"},{"name":"code.in","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code.notEquals","in":"query","required":false,"type":"string"},{"name":"code.specified","in":"query","required":false,"type":"boolean"},{"name":"description.contains","in":"query","required":false,"type":"string"},{"name":"description.doesNotContain","in":"query","required":false,"type":"string"},{"name":"description.equals","in":"query","required":false,"type":"string"},{"name":"description.in","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"description.notEquals","in":"query","required":false,"type":"string"},{"name":"description.specified","in":"query","required":false,"type":"boolean"},{"name":"id.equals","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.greaterThan","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.greaterThanOrEqual","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.in","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"id.lessThan","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.lessThanOrEqual","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.notEquals","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.specified","in":"query","required":false,"type":"boolean"},{"name":"name.contains","in":"query","required":false,"type":"string"},{"name":"name.doesNotContain","in":"query","required":false,"type":"string"},{"name":"name.equals","in":"query","required":false,"type":"string"},{"name":"name.in","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"name.notEquals","in":"query","required":false,"type":"string"},{"name":"name.specified","in":"query","required":false,"type":"boolean"},{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"server.contains","in":"query","required":false,"type":"string"},{"name":"server.doesNotContain","in":"query","required":false,"type":"string"},{"name":"server.equals","in":"query","required":false,"type":"string"},{"name":"server.in","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"server.notEquals","in":"query","required":false,"type":"string"},{"name":"server.specified","in":"query","required":false,"type":"boolean"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"token.contains","in":"query","required":false,"type":"string"},{"name":"token.doesNotContain","in":"query","required":false,"type":"string"},{"name":"token.equals","in":"query","required":false,"type":"string"},{"name":"token.in","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"token.notEquals","in":"query","required":false,"type":"string"},{"name":"token.specified","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Cluster"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["cluster-resource"],"summary":"createCluster","operationId":"createClusterUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"cluster","description":"cluster","required":true,"schema":{"$ref":"#/definitions/Cluster"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Cluster"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["cluster-resource"],"summary":"updateCluster","operationId":"updateClusterUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"cluster","description":"cluster","required":true,"schema":{"$ref":"#/definitions/Cluster"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Cluster"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/clusters/count":{"get":{"tags":["cluster-resource"],"summary":"countClusters","operationId":"countClustersUsingGET","produces":["*/*"],"parameters":[{"name":"code.contains","in":"query","required":false,"type":"string"},{"name":"code.doesNotContain","in":"query","required":false,"type":"string"},{"name":"code.equals","in":"query","required":false,"type":"string"},{"name":"code.in","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code.notEquals","in":"query","required":false,"type":"string"},{"name":"code.specified","in":"query","required":false,"type":"boolean"},{"name":"description.contains","in":"query","required":false,"type":"string"},{"name":"description.doesNotContain","in":"query","required":false,"type":"string"},{"name":"description.equals","in":"query","required":false,"type":"string"},{"name":"description.in","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"description.notEquals","in":"query","required":false,"type":"string"},{"name":"description.specified","in":"query","required":false,"type":"boolean"},{"name":"id.equals","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.greaterThan","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.greaterThanOrEqual","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.in","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int64"},"collectionFormat":"multi"},{"name":"id.lessThan","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.lessThanOrEqual","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.notEquals","in":"query","required":false,"type":"integer","format":"int64"},{"name":"id.specified","in":"query","required":false,"type":"boolean"},{"name":"name.contains","in":"query","required":false,"type":"string"},{"name":"name.doesNotContain","in":"query","required":false,"type":"string"},{"name":"name.equals","in":"query","required":false,"type":"string"},{"name":"name.in","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"name.notEquals","in":"query","required":false,"type":"string"},{"name":"name.specified","in":"query","required":false,"type":"boolean"},{"name":"server.contains","in":"query","required":false,"type":"string"},{"name":"server.doesNotContain","in":"query","required":false,"type":"string"},{"name":"server.equals","in":"query","required":false,"type":"string"},{"name":"server.in","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"server.notEquals","in":"query","required":false,"type":"string"},{"name":"server.specified","in":"query","required":false,"type":"boolean"},{"name":"token.contains","in":"query","required":false,"type":"string"},{"name":"token.doesNotContain","in":"query","required":false,"type":"string"},{"name":"token.equals","in":"query","required":false,"type":"string"},{"name":"token.in","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"token.notEquals","in":"query","required":false,"type":"string"},{"name":"token.specified","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/clusters/{id}":{"get":{"tags":["cluster-resource"],"summary":"getCluster","operationId":"getClusterUsingGET","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Cluster"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["cluster-resource"],"summary":"deleteCluster","operationId":"deleteClusterUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/createServices/{namespace}/{pod}/{port}":{"post":{"tags":["api-api-controller"],"summary":"createServices","operationId":"createServices","consumes":["application/json"],"produces":["application/json","text/plain"],"parameters":[{"name":"cluster","in":"query","description":"Cluster","required":true,"type":"string","allowEmptyValue":false,"enum":["aws"]},{"name":"namespace","in":"path","description":"Namespace","required":true,"type":"string"},{"name":"pod","in":"path","description":"Pod Name","required":true,"type":"string"},{"name":"port","in":"path","description":"Port","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"ok","schema":{"$ref":"#/definitions/ImportYamlServicesResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/deleteDeployment/{namespace}/{deployment}":{"delete":{"tags":["api-api-controller"],"summary":"deleteDeployment","operationId":"deleteDeployment","produces":["application/json","text/plain"],"parameters":[{"name":"cluster","in":"query","description":"Cluster","required":true,"type":"string","allowEmptyValue":false,"enum":["onpremise","aws"]},{"name":"deployment","in":"path","description":"Deployment","required":true,"type":"string"},{"name":"namespace","in":"path","description":"Namespace","required":true,"type":"string"}],"responses":{"200":{"description":"ok","schema":{"$ref":"#/definitions/DeleteResponse"}},"204":{"description":"No Content"},"400":{"description":"error","schema":{"$ref":"#/definitions/DeleteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/deletePod/{namespace}/{pod}":{"delete":{"tags":["api-api-controller"],"summary":"deletePod","operationId":"deletePod","produces":["application/json","text/plain"],"parameters":[{"name":"cluster","in":"query","description":"Cluster","required":true,"type":"string","allowEmptyValue":false,"enum":["onpremise","aws"]},{"name":"namespace","in":"path","description":"Namespace","required":true,"type":"string"},{"name":"pod","in":"path","description":"Pod","required":true,"type":"string"}],"responses":{"200":{"description":"ok","schema":{"$ref":"#/definitions/DeleteResponse"}},"204":{"description":"No Content"},"400":{"description":"error","schema":{"$ref":"#/definitions/DeleteResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/describeServices/{namespace}/{service}":{"get":{"tags":["api-api-controller"],"summary":"describeServices","operationId":"describeServices","produces":["application/json","text/plain"],"parameters":[{"name":"cluster","in":"query","description":"Cluster","required":true,"type":"string","allowEmptyValue":false,"enum":["aws"]},{"name":"namespace","in":"path","description":"Namespace","required":true,"type":"string"},{"name":"service","in":"path","description":"Service","required":true,"type":"string"}],"responses":{"200":{"description":"ok","schema":{"$ref":"#/definitions/DescribeServicesResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/exposePod/{namespace}/{pod}/{port}":{"get":{"tags":["api-api-controller"],"summary":"exposePod","operationId":"exposePod","produces":["application/json","text/plain"],"parameters":[{"name":"cluster","in":"query","description":"Cluster","required":true,"type":"string","allowEmptyValue":false,"enum":["aws"]},{"name":"namespace","in":"path","description":"Namespace","required":true,"type":"string"},{"name":"pod","in":"path","description":"Pod Name","required":true,"type":"string"},{"name":"port","in":"path","description":"Port","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"ok","schema":{"$ref":"#/definitions/DescribeServicesResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/getLogs/{namespace}/{pod}":{"get":{"tags":["api-api-controller"],"summary":"getLogs","operationId":"getLogs","produces":["text/plain"],"parameters":[{"name":"cluster","in":"query","description":"Cluster","required":true,"type":"string","allowEmptyValue":false,"enum":["onpremise","aws"]},{"name":"lines","in":"query","description":"Number of log lines","required":true,"type":"string","default":"100","pattern":"^\\d+$","allowEmptyValue":false},{"name":"namespace","in":"path","description":"Namespace","required":true,"type":"string"},{"name":"pod","in":"path","description":"Pod","required":true,"type":"string"}],"responses":{"200":{"description":"ok","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/importYamlDeployments/{namespace}":{"post":{"tags":["api-api-controller"],"summary":"importYamlDeployments","operationId":"importYamlDeployments","consumes":["text/plain"],"produces":["application/json","text/plain"],"parameters":[{"in":"body","name":"body","description":"Yaml Deployment","required":true,"schema":{"type":"string"}},{"name":"cluster","in":"query","description":"Cluster","required":true,"type":"string","allowEmptyValue":false,"enum":["onpremise","aws"]},{"name":"namespace","in":"path","description":"Namespace","required":true,"type":"string"}],"responses":{"200":{"description":"ok","schema":{"$ref":"#/definitions/ImportYamlDeploymentResponse"}},"201":{"description":"Created"},"400":{"description":"error","schema":{"$ref":"#/definitions/ImportYamlDeploymentResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/importYamlPods/{namespace}":{"post":{"tags":["api-api-controller"],"summary":"importYamlPods","operationId":"importYamlPods","consumes":["text/plain"],"produces":["application/json","text/plain"],"parameters":[{"in":"body","name":"body","description":"Yaml Pod","required":true,"schema":{"type":"string"}},{"name":"cluster","in":"query","description":"Cluster","required":true,"type":"string","allowEmptyValue":false,"enum":["onpremise","aws"]},{"name":"namespace","in":"path","description":"Namespace","required":true,"type":"string"}],"responses":{"200":{"description":"ok","schema":{"$ref":"#/definitions/ImportYamlPodResponse"}},"201":{"description":"Created"},"400":{"description":"error","schema":{"$ref":"#/definitions/ImportYamlPodResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/listDeployments/{namespace}":{"get":{"tags":["api-api-controller"],"summary":"listDeployments","operationId":"listDeployments","produces":["application/json","text/plain"],"parameters":[{"name":"cluster","in":"query","description":"Cluster","required":true,"type":"string","allowEmptyValue":false,"enum":["onpremise","aws"]},{"name":"namespace","in":"path","description":"Namespace","required":true,"type":"string"}],"responses":{"200":{"description":"ok","schema":{"type":"array","items":{"$ref":"#/definitions/Deployment"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/listPods/{namespace}":{"get":{"tags":["api-api-controller"],"summary":"listPods","operationId":"listPods","produces":["application/json","text/plain"],"parameters":[{"name":"cluster","in":"query","description":"Cluster","required":true,"type":"string","allowEmptyValue":false,"enum":["onpremise","aws"]},{"name":"namespace","in":"path","description":"Namespace","required":true,"type":"string"}],"responses":{"200":{"description":"ok","schema":{"type":"array","items":{"$ref":"#/definitions/Pod"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/listPodsByDeployment/{namespace}/{deployment}":{"get":{"tags":["api-api-controller"],"summary":"listPodsByDeployment","operationId":"listPodsByDeployment","produces":["application/json","text/plain"],"parameters":[{"name":"cluster","in":"query","description":"Cluster","required":true,"type":"string","allowEmptyValue":false,"enum":["onpremise","aws"]},{"name":"deployment","in":"path","description":"Deployment","required":true,"type":"string"},{"name":"namespace","in":"path","description":"Namespace","required":true,"type":"string"}],"responses":{"200":{"description":"ok","schema":{"type":"array","items":{"$ref":"#/definitions/Pod"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/register":{"post":{"tags":["account-resource"],"summary":"registerAccount","operationId":"registerAccountUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"managedUserVM","description":"managedUserVM","required":true,"schema":{"$ref":"#/definitions/ManagedUserVM"}}],"responses":{"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/users":{"get":{"tags":["user-resource"],"summary":"getAllUsers","operationId":"getAllUsersUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Page number of the requested page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Size of a page","required":false,"type":"integer","format":"int32"},{"name":"sort","in":"query","description":"Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["user-resource"],"summary":"createUser","operationId":"createUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userDTO","description":"userDTO","required":true,"schema":{"$ref":"#/definitions/UserDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/User"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["user-resource"],"summary":"updateUser","operationId":"updateUserUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"userDTO","description":"userDTO","required":true,"schema":{"$ref":"#/definitions/UserDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserDTO"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/users/authorities":{"get":{"tags":["user-resource"],"summary":"getAuthorities","operationId":"getAuthoritiesUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/users/{login}":{"get":{"tags":["user-resource"],"summary":"getUser","operationId":"getUserUsingGET","produces":["*/*"],"parameters":[{"name":"login","in":"path","description":"login","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UserDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["user-resource"],"summary":"deleteUser","operationId":"deleteUserUsingDELETE","produces":["*/*"],"parameters":[{"name":"login","in":"path","description":"login","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}}},"definitions":{"Cluster":{"type":"object","properties":{"code":{"type":"string"},"description":{"type":"string"},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"server":{"type":"string"},"token":{"type":"string"}},"title":"Cluster"},"DeleteResponse":{"type":"object","properties":{"message":{"type":"string"}},"title":"DeleteResponse"},"Deployment":{"type":"object","properties":{"availableReplicas":{"type":"integer","format":"int32"},"name":{"type":"string"},"namespace":{"type":"string"},"readyReplicas":{"type":"integer","format":"int32"},"replicas":{"type":"integer","format":"int32"},"updatedReplicas":{"type":"integer","format":"int32"}},"title":"Deployment"},"DescribeServicesResponse":{"type":"object","properties":{"external_ip":{"type":"string"},"message":{"type":"string"},"service":{"type":"string"}},"title":"DescribeServicesResponse"},"ImportYamlDeploymentResponse":{"type":"object","properties":{"internal_ips":{"type":"object","additionalProperties":{"type":"string"}},"message":{"type":"string"}},"title":"ImportYamlDeploymentResponse"},"ImportYamlPodResponse":{"type":"object","properties":{"internal_ip":{"type":"string"},"message":{"type":"string"}},"title":"ImportYamlPodResponse"},"ImportYamlServicesResponse":{"type":"object","properties":{"message":{"type":"string"},"service":{"type":"string"}},"title":"ImportYamlServicesResponse"},"JWTToken":{"type":"object","properties":{"id_token":{"type":"string"}},"title":"JWTToken"},"KeyAndPasswordVM":{"type":"object","properties":{"key":{"type":"string"},"newPassword":{"type":"string"}},"title":"KeyAndPasswordVM"},"LoginVM":{"type":"object","required":["password","username"],"properties":{"password":{"type":"string","minLength":4,"maxLength":100},"rememberMe":{"type":"boolean"},"username":{"type":"string","minLength":1,"maxLength":50}},"title":"LoginVM"},"ManagedUserVM":{"type":"object","properties":{"activated":{"type":"boolean"},"authorities":{"type":"array","items":{"type":"string"}},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"email":{"type":"string","minLength":5,"maxLength":254},"firstName":{"type":"string","minLength":0,"maxLength":50},"id":{"type":"integer","format":"int64"},"imageUrl":{"type":"string","minLength":0,"maxLength":256},"langKey":{"type":"string","minLength":2,"maxLength":10},"lastModifiedBy":{"type":"string"},"lastModifiedDate":{"type":"string","format":"date-time"},"lastName":{"type":"string","minLength":0,"maxLength":50},"login":{"type":"string","minLength":1,"maxLength":50,"pattern":"^[_.@A-Za-z0-9-]*$"},"password":{"type":"string","minLength":4,"maxLength":100}},"title":"ManagedUserVM"},"PasswordChangeDTO":{"type":"object","properties":{"currentPassword":{"type":"string"},"newPassword":{"type":"string"}},"title":"PasswordChangeDTO"},"Pod":{"type":"object","properties":{"name":{"type":"string"},"podIP":{"type":"string"},"restart":{"type":"integer","format":"int32"},"startTime":{"type":"string"},"state":{"type":"string"}},"title":"Pod"},"User":{"type":"object","required":["activated","login"],"properties":{"activated":{"type":"boolean"},"email":{"type":"string","minLength":5,"maxLength":254},"firstName":{"type":"string","minLength":0,"maxLength":50},"id":{"type":"integer","format":"int64"},"imageUrl":{"type":"string","minLength":0,"maxLength":256},"langKey":{"type":"string","minLength":2,"maxLength":10},"lastName":{"type":"string","minLength":0,"maxLength":50},"login":{"type":"string","minLength":1,"maxLength":50,"pattern":"^[_.@A-Za-z0-9-]*$"},"resetDate":{"type":"string","format":"date-time"}},"title":"User"},"UserDTO":{"type":"object","properties":{"activated":{"type":"boolean"},"authorities":{"type":"array","items":{"type":"string"}},"createdBy":{"type":"string"},"createdDate":{"type":"string","format":"date-time"},"email":{"type":"string","minLength":5,"maxLength":254},"firstName":{"type":"string","minLength":0,"maxLength":50},"id":{"type":"integer","format":"int64"},"imageUrl":{"type":"string","minLength":0,"maxLength":256},"langKey":{"type":"string","minLength":2,"maxLength":10},"lastModifiedBy":{"type":"string"},"lastModifiedDate":{"type":"string","format":"date-time"},"lastName":{"type":"string","minLength":0,"maxLength":50},"login":{"type":"string","minLength":1,"maxLength":50,"pattern":"^[_.@A-Za-z0-9-]*$"}},"title":"UserDTO"}}}
